@import url("../libs/jquploader/uploadfile.css");

.imagen_destacada
{
	max-width: 360px;
	max-height: 140px;

}
.error
{
	color: #B94A48 !important;
	margin:0px !important;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
display: none !important;
position: absolute;
top: -99999999px;
}