/*NO BORRAR*/

@font-face {

 font-family:Century;

 font-display: auto;

 src: url('../fonts/Century.ttf');

}

@font-face {

 font-family:Poppins-SemiBold;

 font-display: auto;

 src: url('../fonts/Poppins-SemiBold.ttf');

}

@font-face {

 font-family:Poppins-Regular;

 font-display: auto;

 src: url('../fonts/Poppins-Regular.ttf');

}

@font-face {

 font-family:Poppins-Light;

 font-display: auto;

 src: url('../fonts/Poppins-Light.ttf');

}

@font-face {

 font-family:Poppins-Medium;

 font-display: auto;

 src: url('../fonts/Poppins-Medium.ttf');

}

@font-face {

 font-family:Montserrat-Regular;

 font-display: auto;

 src: url('../fonts/Montserrat-Regular.ttf');

}

@font-face {

 font-family:Montserrat-Medium;

 font-display: auto;

 src: url('../fonts/Montserrat-Medium.ttf');

}

@font-face {

 font-family:GothamLight;

 font-display: auto;

 src: url('../fonts/GothamLight.ttf');

}

@font-face {

 font-family:GothamBold;

 font-display: auto;

 src: url('../fonts/GothamBold.ttf');

}

@font-face {

 font-family:Roboto-Medium;

 font-display: auto;

 src: url('../fonts/Roboto-Medium.ttf');

}

@font-face {

 font-family:Roboto-Bold;

 font-display: auto;

 src: url('../fonts/Roboto-Bold.ttf');

}

@font-face {

 font-family:Raleway-Regular;

 font-display: auto;

 src: url('../fonts/Raleway-Regular.ttf');

}

@font-face {

 font-family:Raleway-SemiBold;

 font-display: auto;

 src: url('../fonts/Raleway-SemiBold.ttf');

}

#frm_contacto label.error {

	margin-left: 10px;

	width: auto;

}

.error

{

	color: #B94A48 !important;

	margin:0px !important;

}



.link { 



  border-radius: 3px;

  color: #fff;

  display: inline-block;

  font: normal 12px/12px HelveticaNeue, Arial;

  padding: 8px 11px;

  text-decoration: none;

}

.link.azul {

    background: -moz-linear-gradient(center top , #30517A, #3276B1) repeat scroll 0 0 rgba(0, 0, 0, 0);

	background:#3276B1;

    border-color: #30517A ;

    box-shadow: 0 1px 1px #30517A, 0 1px 0 #30517A inset;

    color: #FFF !important;

    text-shadow: 0 1px 0 #30517A;

}

.link.azul:hover {

    background: -moz-linear-gradient(center top , #3276B1, #30517A) repeat scroll 0 0 rgba(0, 0, 0, 0);

    border-color: #30517A;

    box-shadow: 0 1px 1px #30517A, 0 1px 0 #30517A inset;

    color: #FFF !important;

    text-shadow: 0 1px 0 #30517A;

}

.align-left{

	text-align:left;

}

.align-right{

	text-align:right;

}

.mr_captcha{

	margin-bottom:10px;

}

/*FIN BORRAR*/

/*body{

  font-size: 14px;

}*/

/*Botonoes*/

.btn-massl{

  background: #fff;

  color: #df4e12;

  font-size: 18px;

  font-family: 'Poppins-SemiBold', Arial;

  width: 36%;

  margin: 50px 10px;

  transition: all 400ms;

}

.btn-massl:hover,

.btn-massl:focus,

.btn-massl:active{

  background: #df4e12;

  color: #fff;

}

.btn-ver{

  background: #fff;

  color: #df4e12;

  font-family: 'Roboto-Medium', Arial;

  font-size: 14px;

  width: 280px;

  margin-top: 50px;

  transition: all 400ms;

  -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

}

.btn-servicios{

  background: #fff;

  color: #df4e12;

  font-family: 'Roboto-Medium', Arial;

  font-size: 16px;

  width: 40%;

  margin-top: 50px;

  transition: all 400ms;

  -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

}

.btn-panel-servicios{

  background: #fff;

  color: #df4e12;

  font-family: 'Roboto-Medium', Arial;

  font-size: 14px;

  padding: 5px auto;

  width: 50%;

  margin-top: 50px;

  transition: all 400ms;

  -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

  box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.41);

}

.btn-panel-servicios:hover,

.btn-panel-servicios:focus,

.btn-panel-servicios:active,

.btn-servicios:hover,

.btn-servicios:focus,

.btn-servicios:active,

.btn-ver:hover,

.btn-ver:focus,

.btn-ver:active{

  background: #df4e12;

  color: #fff;

}

.btn-conoce{

  color: #fff;

  background: #08275e; 

  font-family: 'Poppins-Medium', Arial;

  width: 240px;

  margin-top: 20px;

  transition: all 400ms;

}

.btn-conoce-int{

  color: #fff;

  background: #08275e;

  font-family: 'Poppins-Medium', Arial;

  width: 240px;

  margin-top: 20px;

  transition: all 400ms;

}

.btn-conoce:hover,

.btn-conoce:focus,

.btn-conoce:active,

.btn-conoce-int:hover,

.btn-conoce-int:focus,

.btn-conoce-int:active{

  background: #fff;

  border:1px solid;

}

.btn-mas-servicios{

  color:#fff;

  background: transparent;

  border:1px solid #fff;

  border-radius: 4px;

  font-family: 'Poppins-SemiBold', Arial;

  font-size: 14px;

  margin-top: 20px;

  width: 330px;

  transition: all 300ms;

}

.btn-mas-servicios:hover,

.btn-mas-servicios:focus,

.btn-mas-servicios:active{

  color: #df4e12;

  background: #fff;

  border:1px solid #fff;

}

.btn-soporte{

  background: #fff;

  color: #3f4995;

  border: 2px solid #3f4995;

  font-family: 'Poppins-Medium', Arial;

  width: 190px;

  margin-top: 20px;

  transition: all 400ms;

}

.btn-soporte:hover,

.btn-soporte:focus,

.btn-soporte:active{
  
  background: #fff;
  
  border: 2px solid #3f4995;

}

/*Botonoes*/





.header{

  padding-top: 20px;

  margin-bottom: 10px;

  -webkit-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.14);

  -moz-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.14);

  box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.14);

}

.header img{

  padding: 10px;

}

.header a,.menu a{

  color: #7a7a7a;

  font-family: 'Poppins-SemiBold', Arial;

  font-size: 16px;

  text-decoration: none;

}

.header a:hover, .header a:focus, .header a:active{

  color: #4a2179;

}

.redes-sociales{

  text-align: left;

  padding-top: 85px;

}

.contacto-hd{

  text-align: right;

  padding-top: 5px;

}

.hd-navbar li{

  margin: 0 30px;

  border-radius: 4px;

}

.hd-nav li:hover,.hd-nav li:focus,.hd-nav li:active, .hd-nav li:visited, .mnuhover{

  background: #4a2179;

  color: #fff;

}

.slide h4{

  font-size: 48px;

  font-family: 'Poppins-SemiBold', Arial;

  text-transform: uppercase;

}

.slide p{

  font-size: 34px;

  font-family: 'Poppins-Regular', Arial;

  text-transform: uppercase;

}

.hm-bienvenida{

  position: relative;

  margin-top: 30px;

  height: 540px;

}

.hm-bienvenida h2{

  color: #fff;

  font-family: 'GothamBold', Arial;

  font-size: 28px;

  text-align: center;

  padding-top: 20px;

  padding-bottom: 30px;

}

.text-bienvenida{

  color: #fff;

  background: #08275e9c;

  font-family: 'Montserrat-Medium', Arial;

  padding: 55px;

  position: absolute;

  max-width: 620px;

  top: 45px;

  -webkit-box-shadow: 4px 4px 10px 0px rgba(145,145,145,0.34);

  -moz-box-shadow: 4px 4px 10px 0px rgba(145,145,145,0.34);

  box-shadow: 4px 4px 10px 0px rgba(145,145,145,0.34);

}



.img-bienvenida img{

  -webkit-box-shadow: 0px 0px 15px 0px rgba(145,145,145,0.37);

  -moz-box-shadow: 0px 0px 15px 0px rgba(145,145,145,0.37);

  box-shadow: 0px 0px 15px 0px rgba(145,145,145,0.37);

}

.hm-servicios h3{

  color: #df4e12;

  font-size: 20px;

  font-family: 'Poppins-SemiBold', Arial;

}

.cards{

  padding: 20px 30px 40px 30px;

  margin-bottom: 30px;

}

.cards p{

  max-width: 240px;

  margin-left: auto;

  margin-right: auto;

}

.br_col1{

  border-left: 1px solid #b3b3b3;

  border-right: 1px solid #b3b3b3;

}

.open{

  background: transparent;

}

.hm-tu_mejor_opcion{

  color: #fff;

  background: url('../fondos/compu.jpeg') no-repeat center top;
   
  background-size: cover;

  /*background-attachment: fixed;*/

  min-height: 637px;

  padding: 40px 0;

  margin-top: 30px;

  font-family: 'Montserrat-Regular', Arial;

}

.hm-tu_mejor_opcion h2{

  font-family: 'GothamBold', Arial;

  font-size: 28px;

  text-transform: uppercase;

  text-align: center;

  padding-bottom: 40px;

}

.panel-default > .panel-heading {

  color: #fff;

  background-color: transparent;

  border-bottom: 1px solid #ddd;

}

.panel-cableado .panel-default > .panel-heading a{

	color: #4a2179;

	text-transform: uppercase;

}

.panel-default > .panel-heading a{

  font-family: 'Roboto-Bold', Arial;

}

.panel-default > .panel-heading a:hover,

.panel-default > .panel-heading a:active,

.panel-default > .panel-heading a:focus{

  color:#fff;

  text-decoration: none;

}

.panel-body ul{

  line-height: 1.7;

}

.panel-default {

     border-color: transparent;

}

.hm-azul{

  color: #fff;

  background: #08275e;

  padding: 70px 0;

  font-size: 18px;

  font-family: 'Roboto-Bold', Arial;

  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.09);

  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.09);

  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.09);

}

.hm-azul img{

  padding-bottom: 40px;

}

.hm-marcas h2{

  color: #4a2179;

  font-size: 28px;

  font-family: 'GothamBold', Arial;

  text-transform: uppercase;

  padding-top: 70px;

  padding-bottom: 30px;

}

.hm-contacto h2{

  color: #4a2179;

  font-size: 28px;

  font-family: 'GothamBold', Arial;

  text-transform: uppercase;

  text-align: center;

}

.bg-contacto{

  background: #efefef;

  padding: 30px 60px;

  margin-top: 20px;

  margin-bottom: 20px;

}

.form-control{

  font-family: 'Montserrat-Medium';

  font-size: 15px;

}

.footer{

  background: url('../fondos/footer.jpg');

  background-size: cover;

  color: #fff;

  font-family: 'Poppins-Regular', Arial;

  font-size: 14px;

  line-height: 1.7;

  padding-top: 10px;

  padding-bottom: 10px;

}

.footer h3{

  font-family: 'Poppins-SemiBold', Arial;

  font-size:18px;

  padding-bottom: 20px;

  text-transform: uppercase; 

  line-height: 1.6;

}

.footer a{

  color: #fff;

  text-decoration: none;

}

.footer ul{

  padding-left: 10px;

}

.footer img{

  padding-right: 8px;

}

/*.footer a:hover{

  color: #4a2179;

}*/

.ft-navbar{

  font-family: 'Poppins-Regular', Arial;

  font-size: 16px;

  margin: 40px auto;

  border-top: 1px solid #fff;

  border-bottom: 1px solid #fff;

  padding: 15px 14%;

}

.ft-navbar li{

  margin: 0 30px;

  border-radius: 4px;

}

.ft-navbar li > a{

  color: #fff;

  text-align: center;

}

.ft-navbar li:hover, 

.ft-navbar li:focus, 

.ft-navbar li:active, 

.mnuhover {

  background:#4a2179;

  color:#fff;

}

.ligas{

  background: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 13px;
  padding-top: 5px;

}

.ligas a{

  color: #000000;

}

.descripcion{

  padding-right: 45px;

}

.titulo_principal{

  height: 390px;

  color: #fff;

  font-family: 'Poppins-SemiBold', Arial;

}

.titulo_principal h1{

  font-size: 42px;

  text-transform: uppercase;

  text-align: center;

  margin-top: 15%

}

.hd_navegacion{

  text-transform: uppercase;

  font-family: 'Poppins-SemiBold', Arial;

  border-bottom: 1px solid #4a2179;

}

.breadcrumb a{

  color: #181d26;

  font-family: 'Poppins-Light', Arial;

}

.contenido, .contacto-int a{

 color: #181d26;

 font-family:'Raleway-Regular', Arial;

 font-size: 14px;

}

.contenido h2{

 color: #4a2179;

 font-family:'GothamLight', Arial;

 font-size: 26px;

 text-transform: uppercase;

 margin-bottom:30px;

}

.contenido h3{

 color: #4a2179;

 font-family:'Poppins-Regular', Arial;

 font-size: 22px;

 margin-bottom:30px;

}

.contenido h4 {

    font-family: 'Poppins-Regular', Arial;

    font-size: 24px;

    border-bottom: 1px solid #362aab;

    text-transform: uppercase;

    padding-bottom: 15px;

}

.contenido h2 > strong{

 font-family:'GothamBold', Arial;

}

.contenido li{

 padding-bottom:7px;

}

.serv-interno{

  max-width: 535px;

  height: auto;

  padding: 105px 0;

  margin: 10px 10px;

}


.serv-interno h3{

  color:#fff;

  font-family: 'Raleway-SemiBold', Arial;

  font-size: 18px;

  text-transform: uppercase;

}

.contacto-int{

  padding-top: 50px;

}

.contacto-int p{

  padding-top: 10px;

}

.panel-int > .panel-default > .panel-heading{

	color:#181d26;

	max-width: 600px;

}

.panel-body > .btn-conoce{

	max-width: 600px !important;

}

.panel-int > .panel-default > .panel-heading a:hover,

.panel-int > .panel-default > .panel-heading a:focus,

.panel-int > .panel-default > .panel-heading a:visited{

	color:#181d26;

}

.marcas{

	border-top:3px solid #362aab;

}

@media(max-width:1200px){

  .hd-navbar li {

    margin: 0 20px;

  }

  .ft-navbar li {

    margin: 0 15px;

    border-radius: 4px;

  }

  .serv-interno {

    max-width: 47%;

  }

  /*body{

    font-size: 14px;

  }*/

}

@media(max-width:990px){

  .align-left, .align-right, .contacto-hd, .redes-sociales{

    text-align:center;

  }

  .contacto-hd, .redes-sociales{

    padding-top: 30px;

  }

  .hd-navbar {

    left: auto;

  }

  .hd-navbar li {

    margin: 0 13px;

  }

  .btn-massl{

  width: 255px;

  margin: 15px 10px;

  }

  .slide p{

    font-size: 28px;

    margin-bottom: 30px;

  }

  .slide h4{

    font-size: 40px;

  }

  .hm-bienvenida {

    height: 585px;

  }

  .btn-conoce {

    width: 100%;

  }

  .hm-servicios h3 {

    font-size: 18px;

  }

  .ft-navbar {

    padding: 15px 3%;

  }

  .hm-tu_mejor_opcion{

    color: #fff;

    background: url('../fondos/compu.jpeg') no-repeat center top;
    background-size: cover;

  }

  .bg-contacto {

    min-height: 670px;

  }

  .footer ul {

    width: max-content;

    margin-left: auto;

    margin-right: auto;

    text-align: left;

  }

  .footer h3 {

    padding-bottom: 5px;

  }

  .descripcion{

    padding:0 40px;

  }

  .btn-mas-servicios {

    width: 280px;

  }

}

@media(max-width:800px){

  .hm-bienvenida {

    height: auto;

  }

  .text-bienvenida{

    margin-left: auto; 

    margin-right: auto;

    top: 0;

    margin-bottom: 10px;

  }

  .img-bienvenida img{

    max-width: 90%;

  }

}

@media(max-width:767px){

  .text-bienvenida{

    height: auto;

  }

  .cards {

    border: 0;

    padding: 20px 30px 0px 30px; 

  }

  .btn-servicios{

    width: 55%;

  }

  .bg-contacto {

    padding: 30px 20px;

  }

  .serv-interno{

    max-width: 520px;

    margin: 10px auto;

  }

  .btn-panel-servicios{

    width: 55%;

  }

  .jcarousel-control-prev {

    left: -15px !important;

}



.jcarousel-control-next {

    right: -15px !important;

}

}

@media(max-width:425px){

  .header img {

    padding: 5px;

  }

  .header a {

    font-size: 14px;

  }



  .slide h4{

    font-size: 34px;

  }

  .slide p{

    font-size: 24px;

  }

  .btn-ver{

    width: 100%;

  }

  .btn-massl {

    width: 100%;

  }

  .text-bienvenida{

    padding: 55px 10px;

  }  

  .btn-servicios{

    width: 100%;

  }

  .hm-contacto h2 {

    color: #4a2179;

    font-size: 24px;

  }

  .bg-contacto {

    padding: 30px 5px;

  }

  .btn-mas-servicios {

    width: 90%;

  }

  .btn-panel-servicios{

    width: 90%;

  }

  .btn-conoce-int{

	  width:auto;

  }

}

.panel-int > .panel-default > .panel-heading > .icono-mas{

    background:url("../imgusr/ico-mas-int.png") no-repeat center left;

    padding-bottom:5px;

    padding-top:5px;

    padding-left: 47px;



}

.icono-mas{

    background:url("../imgusr/ico-mas.png") no-repeat center left;

    padding-bottom:5px;

    padding-top:5px;

    padding-left: 47px;

}

.panel-int > .panel-default > .panel-heading > .icono-menos{

    background:url("../imgusr/ico-menos-int.png") no-repeat center left;

    padding-bottom:5px;

    padding-top:5px;

    padding-left: 47px;

}



.icono-menos{

    background:url("../imgusr/ico-menos.png") no-repeat center left;

    padding-bottom:5px;

    padding-top:5px;

    padding-left: 47px;

}



.whatsapp-icon

{

	position: fixed;

	float: left;

	bottom: 20px;

	left: 20px;

}
