.bg_publico,

.bg_privado,

.bg_slogan,

.titulo_principal{

	background-attachment:fixed;

}
/* paralla< */
.parallas, .texto{margin:0 auto}

.fondo{

  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  height:40rem;
  max-width: 100%;
  position: relative
}

.texto-interior{
  color:#fff;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top:40%;
  width: 80%
}
/* imagen aceca agregar para las demas */
.img-fondo{background-image: url('../fondos/fondo.jpg')}

.img-acerca{background-image: url('../fondos/acerca.jpg')}
.img-servicios{background-image: url('../fondos/servicios.jpg')}
.img-productos{background-image: url('../fondos/productos.jpg')}
.img-contacto{background-image: url('../fondos/contactanos.jpg')}
/*servicios*/
.img-soporte{background-image: url('../fondos/soporte.jpg')}
.img-host{background-image: url('../fondos/host.jpg')}
.img-telecom{background-image: url('../fondos/telecom.jpg')}
.img-virtualizacion{background-image: url('../fondos/virtualizacion.jpg')}
.img-cloud{background-image: url('../fondos/cloud.jpg')}
.img-cableado{background-image: url('../fondos/cableado.jpg')}
.img-comunucaciones_uni{background-image: url('../fondos/unificada.png')}
.img-seguridad{background-image: url('../fondos/seguridad.jpg')}
.img-solicitud{background-image: url('../fondos/solicitud.jpg')}
.img-aviso{background-image: url('../fondos/aviso.jpg')}
<<<<<<< HEAD
/*Productos*/
.img-fibra{background-image: url('../fondos/fibra.jpg')}

=======
/*productos*/
.img-cableadoestructurado{background-image: url('../fondos/cable.jpg')}
.img-hardware{background-image: url('../fondos/hardware.jpg')}
.img-software{background-image: url('../fondos/software.jpg')}
>>>>>>> 839dc6d1f4f2723fbad1dab8da55f090408bcb64

/* galeria */
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
    background-color: white;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}


.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
/* modal de las marcas de */
.project-details-popup .close {
  position: absolute;
  right: -25px;
  top: -25px;
  botom
}
.project-details-popup .prof-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  left: 0;  
  right: 0;
  margin: auto;
  top: -30px;
}
.project-details-popup .modal-header {
  margin: 0;
  padding: 0;
}
.project-details-popup .modal-header .header-img {
  width: 100%;
  max-width: 100%;
}