#frmsecciones label.error {
	margin-left: 10px;
	width: auto;
}
.error
{
	color: #B94A48 !important;
	margin:0px !important;
}

.border
{
	border:1px solid #efefef; 
	border-radius: 5px;
}
.separador
{
	border: 1px dashed #efefef; 
	margin: 5px;
}
.elementos_secciones
{
	display: none;
}
