.imagenth
{
	max-height: 80px;
	max-width: 100px;
	
}
.tablecenter
{
	text-align: center !important;
}

#frm_buscar label.error {
	margin-left: 10px;
	width: auto;
}
.error
{
	color: #B94A48 !important;
	margin:0px !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
table.dataTable thead .sorting_asc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting::after {
    color: rgba(50, 50, 50, 0.5);
    content: "";
    float: right;
    font-family: fontawesome;
}