table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
table.dataTable thead .sorting_asc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc::after {
    content: "";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting::after {
    color: rgba(50, 50, 50, 0.5);
    content: "";
    float: right;
    font-family: fontawesome;
}

.bs-docs-galeria {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
	min-height: 140px;
}
.bs-docs-galeria::after {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Crea nueva galería";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-lista {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
	min-height: 140px;
}
.bs-docs-lista::after {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Imágenes";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-imagen {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
	min-height: 200px;
}
.bs-docs-imagen::after {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Edita la imagenes";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
#frm_nueva_imagen label.error {
	margin-left: 10px;
	width: auto;
}
.error
{
	color: #B94A48 !important;
	margin:0px !important;
}
.img-max
{
	max-height: 150px;
	max-width: 250px;
}
.galeria_titulo
{
	text-transform: uppercase;
}